


:root {
    --primary-color: #73226D;
    --secondary-color: #FFC107;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .header-font {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
  }
  
  .nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    transition: all 0.3s ease;
  }
  
  .nav-link:hover {
    color: var(--primary-color);
  }
  
  